{
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "plugins": ["import"],
    "rules": {
        "import/order": [
            "error",
            {
                "newlines-between": "always",
                "groups": [["builtin", "external"], "parent", "sibling", "index"],
                "warnOnUnassignedImports": true,
                "alphabetize": {
                    "order": "asc"
                }
            }
        ]
    }
}
